<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><h2>Mongo Scraper</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/saved">Saved Articles</a>
        <button class="btn btn-outline-success my-2 my-sm-0 ml-3" type="submit">Clear All Articles</button>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Saved Articles</h1>
    <p class="lead">Your Saved Articles and Article Notes</p>
  </div>
</div>

{{!-- display each article as a card in this container --}}
<div class="container">
    {{#each data}}
      <div class="card">
        <h5 class="card-header">{{title}}</h5>
          <div class="card-body">
            <p class="card-text">{{summary}}</p>
            <a href="#" id="note" data-id="{{_id}}" class="btn btn-primary float-right">Article Note</a>
            <a href="#" id="unsave" data-id="{{_id}}" class="btn btn-danger float-right mr-3">Remove from Saved</a>
          </div>
      </div>
    {{/each}}
 </div>

 {{!-- modal for notes --}}
<div class="modal" id="noteMod" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  
      <div class="modal-body">
      <form>
        <div class="form-group">
          <textarea class="form-control" id="textArea" rows="3"></textarea>
        </div>
      </form>       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="modalSaveNote" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="js/saved.js" type="text/javascript"></script>